name: BioClusterQuant CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    # This specialized action automatically installs all correct Qt/Linux drivers
    - name: Install Qt System Libs
      uses: tlambert03/setup-qt-libs@v1

    # We still need xvfb for the fake screen
    - name: Install xvfb
      run: sudo apt-get install -y xvfb

    - name: Run Tests
      run: |
        xvfb-run pytest -q tests/test_import.py
